:root {
  --nav-height: 60px;
  --primary-blue: #007afb;
  --main-width: 1100px;
  --summary-title-width: 400px;
  --input-height: 30px;
}

html {
  scroll-behavior: smooth;
}

body,
main {
  width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: unset;
}

p {
  line-height: 1.8rem;
}

h1 {
  font-size: 2.8rem;
}

ul li {
  list-style: none;
}

.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
}

nav {
  width: var(--main-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a.logo {
  height: 30px;
}

nav a.logo img {
  height: 80%;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  padding: 0.5rem;
}

nav ul li a {
  color: black;
  letter-spacing: 0.35rem;
  font-weight: 500;
}

a.book {
  background: var(--primary-blue);
  color: white;
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
}

ul.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: var(--nav-height);
  align-items: center;
  justify-content: center;
  background: var(--primary-blue);
  left: 0;
}

ul.mobile li {
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid white;
}

ul.mobile li a {
  font-size: 1.6rem;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 660px) {
  .nav-container {
    background: white;
  }

  .burger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 33px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .burger span {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--primary-blue);
    transition: all 100ms ease-in-out;
  }

  .burger.active span:nth-child(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
  }

  .burger.active span:nth-child(2) {
    width: 0;
  }

  .burger.active span:nth-child(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }

  ul.desktop {
    display: none;
  }

  ul.mobile.show {
    display: block;
  }

  a.book {
    padding: 0.75rem 1.5rem;
  }
}

/* Key Visual*/
section.key-visual {
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
  background: url("./images/bg.svg") no-repeat center bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
section.key-visual #scene {
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
}

section.key-visual .event-title {
  background: url("./images/title.png") no-repeat center center;
  background-size: 60%;
  height: 100%;
  width: 1200px;
  margin-left: -600px !important;
  left: 50% !important;
  position: absolute;
  z-index: 4;
}

section.key-visual .arrow {
  background: url("./images/arrow.png") no-repeat 80% 70%;
  background-size: 100px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}

section.key-visual .line {
  background: url("images/deco-line.png") no-repeat center top;
  background-size: cover;
  height: 101%;
  width: 100%;
  margin-left: -50% !important;
  left: 50% !important;
  position: absolute;
  z-index: 2;
}

/* Summary */

div.summary {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.content-container {
  width: 100%;
  height: 120px;
  max-width: var(--main-width);

  display: flex;
  align-items: stretch;

  margin: 0 auto;
  position: relative;
  z-index: 2;
}

div.content-container h1 {
  width: var(--summary-title-width);
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  flex-shrink: 0;
}

div.summary h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

div.summary .location-date {
  background: white;
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  gap: 2rem;
}

.location-date .detail {
  display: flex;
  gap: 1rem;
}
.location-date .detail h4 {
  flex-shrink: 0;
  border-top: 3px solid black;
  position: relative;
  top: 5px;
  padding-top: 5px;
}

.location-date .detail h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.location-date .detail h3 span {
  font-size: 1.15rem;
  display: block;
  font-weight: bold;
  padding-left: 0.125rem;
}

div.summary .white-bg {
  width: calc(100% - (var(--main-width) - var(--summary-title-width)));
  max-width: 1000px;
  height: 100px;
  background: white;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  height: 120px;
}

/* announcement */
section.announcement {
  background: url("./images/line-white-bg.png") no-repeat center center;
  background-size: cover;
  padding: 2rem 0;
}

section.announcement .content.mobile {
  display: none;
}

section.announcement div.content-container {
  height: fit-content;
  align-items: flex-start;
}

section.announcement div.content-container h1 {
  color: black;
  padding: 0;
}

section.announcement div.content-container .content {
  padding: 1rem 3rem;
}

section.announcement div.content-container .content p:first-child {
  margin-bottom: 1.5rem;
}

/* Sale Point */
section.sale-point {
  background: url("./images/sale-point-bg.png") no-repeat top center;
  background-size: cover;
  padding: 3rem 0 1rem;
}

section.sale-point h1 {
  color: white;
  text-align: center;
}

section.sale-point h3 {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-weight: normal;
  margin: 0.5rem 0 1rem;
}

#sale-points {
  margin: 2rem auto 4rem;
  width: 100%;
  max-width: 900px;
}

#sale-points .splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

#sale-points .splide__slide h2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;
}

#sale-points .splide__slide h2 span.highlight {
  font-size: 5rem;
  color: white;
  position: relative;
  top: -3px;
}

#sale-points .splide__slide h2 span.text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  line-height: 1em;
}

#sale-points .splide__slide h2 span.text span.sub-text {
  font-size: 1rem;
  font-weight: lighter;
}

#sale-points .splide__slide img {
  width: 100%;
  height: auto;
  margin: 0 auto 2rem;
}

#sale-points .splide__slide p {
  color: white;
  margin-top: 1rem;
  text-align: center;
  width: 90%;
  word-break: keep-all;
}

#sale-points .splide__slide.is-active h2 {
  position: relative;
  top: -2rem;
  transform: scale(1.2);
}

#sale-points .splide__slide.is-active h2 span {
  color: #ffeb9e;
}

#sale-points .splide__slide.is-active img {
  transform: scale(1.3);
  position: relative;
  z-index: 2;
  box-shadow: 0 12px 10px #2d3e908b;
}

#sale-points .splide__slide:not(.is-active) img {
  opacity: 0.6;
  filter: brightness(0.5);
}

#sale-points .splide__slide:not(.is-active) h2 {
  opacity: 0.5;
}

#sale-points .splide__slide:not(.is-active) p {
  opacity: 0;
}

section.sale-point .splide__arrow--prev {
  left: -4rem;
}

section.sale-point .splide__arrow--next {
  right: -4rem;
}

/* GUEST */

section.guests {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  padding: 6rem 0;
}

section.guests .splide__track {
  overflow: visible;
}

section.special-guests {
  background-image: url("images/o-bg.png");
}

section.topic-guests {
  background-image: url("images/p-bg.png");
}

section.case-study-guests {
  background-image: url("images/b-bg.png");
  background-position: right center;
}

section.tech-guests {
  background-image: url("images/w-bg.png");
  background-position: -20% center;
}

.guest-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: var(--main-width);
  gap: 4rem;
}

.guest-container h1 {
  color: white;
  flex-shrink: 0;
  font-size: 2.25rem;
}

.guest-container .img-wrap {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 7px 8px 20px #4c4c4eb2;
}

.guest-container .guest {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.guest-container .intro {
  width: 400px;
}

.guest-container.reverse,
.guest-container.reverse .guest {
  flex-direction: row-reverse;
}

.guest-container .guest h2 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}
.guest-container .guest h3 {
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.guest-container .guest p {
  font-size: 1rem;
  color: gray;
}

.guest-container .splide__slide:not(.is-active) .img-wrap {
  box-shadow: none;
}

section.case-study-guests,
section.tech-guests {
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 2rem;
}

.thumbnail .splide__slide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumbnail .img-wrap {
  width: 210px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.thumbnail .intro h2 {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.thumbnail .intro h3 {
  font-size: 0.785rem;
  font-weight: normal;
  text-align: center;
}

/* SPLIDE */

.splide__arrow {
  padding: 1rem !important;
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0 !important;
  border: 1px solid rgb(93, 93, 93) !important;
  height: 3rem !important;
  width: 3rem !important;
}

.splide__arrow svg {
  color: black;
}

.guest-container:not(.reverse) .splide__arrows {
  position: absolute;
  left: -17.5rem;
  top: 15rem;
}

.guest-container:not(.reverse) .splide__arrow--prev {
  left: 0;
}

.guest-container:not(.reverse) .splide__arrow--next {
  right: -6rem;
}

.guest-container.reverse .splide__arrows {
  position: absolute;
  right: -13.5rem;
  top: 13rem;
}

.guest-container.reverse .splide__arrow--prev {
  left: -2rem;
}

.guest-container.reverse .splide__arrow--next {
  right: -4.7em;
}

/* AGENDA */
section.agenda {
  background: url(images/agenda-bg.png) no-repeat center center;
  background-size: cover;
  padding: 4rem 0 6rem;
}

section.agenda h1 {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

section.agenda .event {
  width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 1px;
  margin-bottom: 1px;
}

section.agenda .event .time-slot {
  background: white;
  font-weight: bold;
  width: 160px;
  font-size: 1rem;
  padding: 1rem;
  height: 60px;
}

section.agenda .event .detail {
  background: white;
  flex: 1;
  padding: 1rem;
  min-height: 60px;
  display: block;
  height: 100%;
}

section.agenda .event.break .detail {
  background: #e4ebef;
}

section.agenda .event.end .detail {
  background: #eec322;
}

section.agenda .event .detail h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

section.agenda .event .detail h5 {
  margin: 1rem 0;
}

section.agenda .event .detail h5 span {
  background: #e4ebef;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

section.agenda .event .detail ul.speakers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

section.agenda .event .detail ul.speakers li {
  border-left: 3px solid #eec322;
  padding-left: 0.75rem;
  font-weight: 500;
}
ul.speakers li .company,
ul.speakers li .title {
  font-weight: normal;
}
section.agenda .tracks {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  width: 640px;
  position: relative;
  left: 80px;
  margin: 1px auto;
}

section.agenda .tracks li {
  text-align: center;
  color: white;
  background: black;
  font-weight: bold;
  flex: 1;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

section.agenda .tracks li span {
  color: white;
  font-weight: normal;
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  letter-spacing: 0.05rem;
}

ul.speakers li .company,
ul.speakers li .title {
  color: gray;
  font-size: 0.875rem;
}

ul.speakers li .company {
  margin-right: 0.125rem;
}

ul.tracks-detail {
  display: flex;
  gap: 1px;
  flex: 1;
}

ul.tracks-detail > li {
  flex: 1;
}

ul.tracks-detail > li ul.speakers li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: 1em;
}

ul.tracks-detail > li ul.speakers li .company {
  margin-top: 0.25rem;
}

section.gifts {
  background: url("./images/gift-bg.png") no-repeat center 60%;
  background-size: cover;
  padding: 1rem 0 8rem;
}

section.gifts .content-container {
  height: auto;
  align-items: center;
  width: 600px;
}

section.gifts .title {
  color: white;
  letter-spacing: 0.025rem;
}

section.gifts .title .subtitle {
  font-weight: 500;
}

section.gifts .title h1 {
  padding: 0.5rem 0 0.25rem;
  width: max-content;
}

section.gifts .title .name {
  font-size: 1.45rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

section.gifts .title .note {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 2rem;
  display: inline-block;
}

section.gifts .img-wrap {
  background: url(images/earlybird-gift.png) no-repeat bottom center;
  background-size: contain;
  width: 400px;
  height: 400px;
}

/* BOOK */

section.book {
  margin-top: -15rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-size: cover;
}

section.book .intro {
  display: flex;
  flex-direction: column;
  padding: 10rem 2rem;
  padding-left: calc(50% - var(--main-width) / 2);
  background: url(images/book-o.png) no-repeat top center;
  background-size: cover;
  flex: 1;
  min-width: calc(2rem+ var(--summary-title-width));
}

section.book .intro h1 {
  color: white;
  margin-bottom: 1rem;
}

section.book .location-date {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2rem;
}

section.book .location-date .detail {
  gap: 1rem;
}

section.book .location-date h4 {
  border-color: white;
}

section.book .location-date h3 span {
  font-weight: normal;
  font-size: 1rem;
}

.form {
  flex: 2;
  padding: 10rem 2rem 3rem;
  width: calc(100% - var(--summary-title-width));
  padding-right: calc(50% - var(--main-width) / 2);
  padding-left: 2rem;
  background: url(images/book-w.png) no-repeat top left;
  background-size: cover;
}

form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form .field {
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #f9f9f9;
  width: 100%;
  align-items: center;
}

form .field label {
  width: 100px;
  flex-shrink: 0;
}

form .field input[type="text"],
form .field input[type="tel"],
form .field input[type="email"] {
  border: unset;
  border-radius: 0;
  border-bottom: 1px solid #7692af;
  background: unset;
  flex: 1;
  height: var(--input-height);
  font-size: 1rem;
}

form .field .tracks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  width: inherit;
}

input[type="checkbox"] {
  border-color: #7692af;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

form .field select {
  border: unset;
  border-bottom: 1px solid #7692af;
  background: unset;
  height: var(--input-height);
  width: 100%;
  font-size: 1rem;
}

form button[type="submit"] {
  background: var(--primary-blue);
  padding: 1rem 0;
  text-align: center;
  width: 200px;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  border: 0;
  font-size: 1.2rem;
  letter-spacing: 0.025rem;
}

.agreement {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.agreement a {
  text-decoration: underline;
  padding: 0 0.5rem;
  color: #ff8b33;
}

.agreement p {
  line-height: 1.3em;
  word-break: keep-all;
}

/* Media Reports */
section.media {
  background: #eff1f8;
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
  justify-content: flex-end;
  position: relative;
}

section.media h1 {
  color: black;
  width: 300px;
}

section.media .splide {
  width: calc((var(--main-width) - 300px) + (100% - var(--main-width)) / 2);
}
section.media .splide__slide {
  padding-bottom: 1.5rem;
  border-bottom: 3px solid var(--primary-blue);
}
section.media .splide__slide .img-wrap {
  width: 100%;
  padding-top: 56.5%;
  background: no-repeat center center;
  background-size: cover;
  margin-bottom: 1rem;
}

section.media a {
  color: black;
}

section.media .splide__slide h4 {
  font-size: 1.2rem;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 54px;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  font-weight: normal;
}

section.media .splide__arrows {
  position: absolute;
  left: calc(-1 * 300px + 2rem);
  top: 6rem;
}

section.media .splide__arrow--prev {
  left: -2rem;
}

section.media .splide__arrow--next {
  right: -4.7em;
}

/* FOOTER */

footer {
  width: 100%;
  background: black;
  color: white;
  padding: 2rem 0 1rem;
}

footer div.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: unset;
}

footer .logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

footer .logos h5 {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  width: 200px;
}

footer .logos .logo-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

footer .logos .logo-list img {
  height: 30px;
}

p.copyright {
  font-size: 0.875rem;
  color: white;
  text-align: right;
}

/* Thumbnail */
.thumbnail {
  position: relative;
}

.thumbnail .splide__list {
  width: 100vw;
}

.thumbnail .splide__slide:not(.is-active) .img-wrap {
  filter: brightness(0.5);
}

.thumbnail .splide__arrows {
  position: absolute;
  left: calc(50% - 560px);
  top: -11rem;
}

.tech-guests .thumbnail .splide__arrows {
  position: absolute;
  right: calc(50% - 440px);
  left: unset;
  top: -11rem;
}

.thumbnail .splide__arrows .splide__arrow--next {
  right: -6.75rem;
}

@media screen and (max-width: 1200px) {
  section.media {
    flex-direction: column;
  }

  section.media h1 {
    padding: 0 10% 2rem;
    min-width: fit-content;
  }

  section.media .splide {
    width: 90%;
    position: relative;
    left: 10%;
  }

  section.media .splide__slide h4 {
    font-size: 1.3rem;
    height: 54px;
    line-height: 1.6rem;
  }

  nav {
    margin: 0 1rem;
  }
  div.content-container {
    width: 80%;
  }

  section.key-visual {
    height: 700px;
    background-size: auto 600px;
    background-position: top center;
  }

  section.key-visual #scene {
    height: 100%;
    padding-bottom: 4rem;
  }

  section.key-visual .event-title {
    width: 800px;
    margin-left: -400px !important;
    height: 100%;
  }

  section.key-visual .arrow {
    height: 100%;
    background-size: 50px;
  }

  section.key-visual .line {
    width: 1100px;
    margin-left: -550px !important;
    height: 100%;
    background-size: auto 640px;
  }

  div.summary {
    border-bottom: 1px solid var(--primary-blue);
  }

  div.summary .location-date {
    width: 100%;
    background-color: white;
    padding: 2rem 10%;
  }

  div.summary .white-bg {
    display: none;
  }

  div.summary h1 {
    margin: 0 10%;
  }

  div.summary div.content-container {
    height: unset;
    flex-direction: column;
    width: 100%;
  }

  section.announcement {
    background-position: left center;
  }

  section.announcement div.content-container {
    flex-direction: column;
  }

  section.announcement div.content-container h1 {
    padding: unset;
    width: unset;
  }

  section.announcement div.content-container .content {
    padding: 1rem 0;
  }

  section.guests {
    background-position: center 40%;
  }

  .guest-container,
  .guest-container.reverse,
  .guest-container.reverse .guest,
  .guest-container .guest {
    flex-direction: column;
  }
  .guest-container .intro {
    width: 80%;
    max-width: 550px;
  }

  section.special-guests {
    background-image: url(images/m-o-bg.png);
  }

  section.topic-guests {
    background-image: url(images/m-p-bg.png);
  }
  section.case-study-guests {
    background-image: url(images/m-b-bg.png);
  }

  section.tech-guests {
    background-image: url(images/m-w-bg.png);
  }

  section.agenda .event {
    width: 70%;
  }
  section.agenda .tracks {
    width: calc(70% - 160px);
    align-items: stretch;
  }

  section.agenda .tracks li span {
    font-size: 0.785rem;
  }

  section.gifts {
    padding-bottom: 9rem;
  }

  section.book {
    background: none;
  }

  section.book {
    flex-direction: column;
    width: 100%;
  }

  section.book h1 {
    padding-bottom: 1rem;
  }

  section.book .intro {
    padding: 6rem 10% 3rem;
    margin-top: -4rem;
  }

  section.book .location-date {
    flex-direction: row;
  }

  .form {
    padding: 2rem 10%;
    max-width: unset;
    width: 100%;
  }

  .guest-container.reverse .splide__arrows,
  .tech-guests .thumbnail .splide__arrows,
  .thumbnail .splide__arrows {
    position: unset;
  }

  .splide__arrow--prev {
    left: 1rem !important;
  }

  .splide__arrow--next {
    right: 1rem !important;
  }
}

@media screen and (max-width: 767px) {
  section.key-visual {
    height: 900px;
    background-size: auto 720px;
  }

  section.key-visual #scene {
    padding-bottom: 14rem;
  }

  section.key-visual .arrow {
    background-position: 80% 53%;
  }
  section.key-visual .line {
    background-size: auto 770px;
  }

  div.summary h1 {
    margin: 0;
    padding: 1.5rem 1rem;
  }

  div.summary .location-date {
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1rem;
  }

  section.sale-point h1 {
    padding: 0 1rem;
  }

  .guest-container .intro {
    width: 100%;
    padding: 0 1rem;
  }
  section.agenda h1 {
    font-size: 2rem;
  }
  section.agenda .event .time-slot {
    width: 100px;
    padding: 1rem 0.5rem;
    line-height: 1rem;
  }
  section.agenda .tracks li span {
    line-height: 1.2rem;
  }
  section.agenda .event {
    width: 80%;
  }
  section.agenda .tracks {
    width: calc(80% - 100px);
    left: 50px;
  }
  section.agenda .tracks li {
    padding: 1rem 0.75rem;
  }

  section.book .content-container .location-date {
    flex-direction: column;
    gap: 1rem;
  }

  footer .logos {
    flex-direction: column;
    align-items: flex-start;
  }

  footer .logos .logo-list {
    gap: 1rem;
  }

  p.copyright {
    text-align: center;
  }
}

@media screen and (max-width: 660px) {
  .guest-container .splide__list {
    width: 80% !important ;
    max-width: 500px !important;
    margin: 0 auto !important;
  }
  section.agenda h1 {
    margin-bottom: 3rem;
  }
  section.agenda .event .time-slot {
    width: 70px;
    padding: 1rem 0.25rem;
  }
  section.agenda .event {
    width: 96%;
  }
  section.agenda .tracks {
    width: calc(96% - 70px);
    left: 35px;
  }

  section.agenda .event .detail {
    padding: 1rem 0.5rem;
  }

  section.agenda .tracks li {
    font-size: 1rem;
  }

  section.agenda .event .detail ul.speakers {
    margin-left: 2px;
  }

  section.agenda .event .detail ul.speakers li {
    padding-left: 0.5rem;
  }

  .thumbnail .img-wrap {
    width: 120px;
    height: 90px;
  }
  section.gifts .content-container {
    width: 100%;
    flex-direction: column;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 480px) {
  section.key-visual {
    height: 700px;
    background-size: auto 560px;
  }

  section.key-visual .event-title {
    width: 600px;
    background-position: center 67%;
    margin-left: -300px !important;
  }

  section.key-visual .line {
    background-size: auto 600px;
  }

  div.summary h1 {
    padding: 1.5rem 10%;
    font-size: 1.4rem;
  }

  div.summary .location-date {
    padding: 1.5rem 10%;
  }

  #sale-points .splide__slide:not(.is-active) h2 {
    opacity: 0;
  }

  #sale-points .splide__slide h2 span.text {
    font-size: 1.4rem;
  }

  section.announcement div.content-container h1 {
    font-size: 2.2rem;
  }

  section.announcement .content.mobile {
    display: block;
  }

  section.announcement .content.desktop {
    display: none;
  }

  section.sale-point h1 {
    font-size: 2.3rem;
    width: 280px;
    word-break: keep-all;
    margin: 0 auto;
  }

  section.guests {
    padding: 4rem 0;
  }

  section.case-study-guests,
  section.tech-guests {
    background-size: 220%;
    background-position: center 90%;
  }

  .guest-container {
    gap: 2rem;
  }

  .guest-container .intro {
    max-width: 300px;
  }

  .guest-container .splide__list {
    margin-bottom: 1rem !important;
  }

  .topic-guests .splide {
    display: flex;
    flex-direction: column-reverse;
  }

  .topic-guests .splide__arrows {
    position: relative !important;
    width: 9rem;
    height: 3rem;
    margin: 0 auto;
    right: unset !important;
    top: unset !important;
  }

  .thumbnail .splide__arrows .splide__arrow--prev,
  .topic-guests .splide__arrows .splide__arrow--prev {
    left: 1.5rem !important;
  }

  .thumbnail .splide__arrows .splide__arrow--next,
  .topic-guests .splide__arrows .splide__arrow--next {
    left: unset !important;
    right: 1.5rem !important;
  }

  .thumbnail .splide__arrows {
    position: relative !important;
    width: 9rem;
    margin: 0 auto;
    right: unset !important;
    left: unset !important;
    top: -3rem !important;
  }

  section.case-study-guests,
  section.tech-guests {
    padding-top: 4rem;
  }

  form button[type="submit"] {
    width: 100%;
  }

  form .field {
    flex-direction: column;
    justify-content: flex-start;
  }
  form .field label,
  form .field input[type="text"],
  form .field input[type="email"],
  form .field input[type="tel"] {
    flex: 1;
    width: 100%;
  }

  section.gifts .content-container {
    width: 100%;
    flex-direction: column;
    padding-top: 5rem;
  }

  form input {
    padding: 0.5rem 0;
  }
}
